RewriteEngine On
RewriteBase /uatmioot/uidesign/React/CVUAE_Form/form/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /uatmioot/uidesign/React/CVUAE_Form/form/index.html [L]